body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

.navbar img {
    height: 50px;
}

.navbar nav {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.navbar .acc-buttons a {
    text-decoration: none;
    color: #fff;
    background-color: #b71c1c;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.announcement {
    background-color: #b71c1c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.testimonials,
.signup {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;

    & :is(h2) {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    & :is(p) {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
    }
}

.testimonials {
    width: 60%;
}

.signup {
    width: 35%;
}

.testimonial-item {
    display: none;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

    & img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-right: 20px;
    }

    & .name {
        font-weight: 500;
        color: black;
    }

}
.testimonial-item.active {
    display: flex;
}


.signup form {
    display: flex;
    flex-direction: column;

    & input {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        font-size: 16px;
    }

    & input[type="checkbox"] {
        width: auto;
        margin-right: 10px;
    }

    & label {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #666;
    }

    & button {
        background-color: #b71c1c;
        color: #fff;
        padding: 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    & .login-link {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;

        & a {
            color: #b71c1c;
            text-decoration: none;
        }
    }
    & .checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0px;
    }
}

.testimonial-navigation {
    display: flex;
    justify-content: center;
    gap: 10px;

    & button {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}